.pagination {
    display: flex;
    list-style: none;
    outline: none;
    justify-content: flex-end;
    padding: 0;
    margin-top: 30px;
  }
  
  .pagination > .active > a {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  
  .pagination > li > a {
    border: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
  }
  
  .pagination > li:first-child > a {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .pagination > li:last-child > a {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  .pagination > li > a:hover,
  .pagination > li > a:focus {
    z-index: 2;
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  