/* unvisited link */
a:link{
    text-decoration: none;
  }
  
  aside {
    height:100vh;
  }
  
  /* .activelink:nth-child(1){
    
  }
  .activated{
    color: #110cf5;
  } */
  li:has(> a > span > a.activated) {
    background-color: rgb(226 226 247);
    color: #110cf5;
  }