.delete-confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: 999;
}

.delete-confirmation-popup p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #333;
  word-wrap: break-word;
}

.delete-confirmation-popup .button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.delete-confirmation-popup button {
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  flex: 1;
  margin: 0 1rem;
}

.delete-confirmation-popup button:first-child {
  background-color: #d9534f;
  color: #fff;
}

.delete-confirmation-popup button:last-child {
  background-color: #f0f0f0;
  color: #333;
}