.main-page {
  width: '100%';
  margin-right: '15%';
}

.page-container {
  display: flex;
  padding: 0rem 2rem 1rem 5rem;
  flex-direction: column;
  gap: 2rem;
}

.card-details {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaef;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
}

.card-title {
  font-weight: bold;
  padding: 1rem;
  color: blue;
}

.card-body{
    display: flex;
    width: 50%;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

.column {
  /* flex: 50%; */
  padding: 0 20px;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titleHeader {
  font-weight: bold;
  padding: 1rem;
  transition: color 150ms ease-out;
  color: #4945ff;
  font-size: 0.875rem;
  line-height: 1.43;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    margin-bottom: 20px;
  }
}

span {
  display: block;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.45;
  color: #32324d;
}

label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.45;
  color: #32324d;
}
