.feedbackFormFormatsInputFieldBox {
    margin: '20px 0';
}

.sectionsBox{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formSection{
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.formButtons{
    display: flex;
    gap: 1rem;
}

.mainOptions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 3rem;
}

.actualSection{
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.radiosClass{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
}

.radiofileds{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1rem;
    width: 100%;
    padding: 0rem 2rem 1rem 2rem;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.subFormFields{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0rem 2rem 1rem 2rem;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.inputfileds{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
